 
@import url('./reset.css');

body{
    font-family: 'Montserrat', sans-serif;
}



/*-----------task1--------------------*/

/* .iziToast-close {
    color: #fff !important;
} */

#datetime-picker{
    border-radius: 4px;
    border-radius: 1px solid #808080;
    width: 272px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
}

[type='text']:hover {
    border-color: #000;
  }
  
  [type='text']:active {
    border-color: #4e75ff;
  }
  
  [type='text']:disabled {
    color: #808080;
    border-color: #808080;
  }
 
button[data-start]{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

 
button[data-start]:disabled,
button[data-start]:disabled:hover{
    background-color: #CFCFCF;
    color: #989898;
}
button[data-start]:hover,
button[data-start]:focus{
    background-color: #6C8CFF;
    color: #FFF;
}

.input-btn-together{
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
    margin-top: 36px;
}


.timer {
    display: flex;
    gap: 24px;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value{
    color: #2E2F42;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04px;
}

.label{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

 
/*-----------task2--------------------*/
.form{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.delay-input {
    display: flex;
    flex-direction: column;
}

.text-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 30px;
}

.text-input:hover,
.text-input:focus{
    border: 1px solid #000;  
}

 
.form label{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.form fieldset{
width: 360px;
height: 64px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid #808080;
margin-bottom: 32px;
box-sizing: border-box;
}

.form fieldset:hover,
.form fieldset:focus{
    border: 1px solid #000;  
}

.form fieldset legend {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.state-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.state-label-input{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 48px;
}

.form input[name="state"] {
    border-color: #757575;
    height: 20px;
    width: 20px;
}

.form button {
    cursor:pointer;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height:  1.5;
    letter-spacing: 0.04em;
}

.form button:hover,
.form button:focus{
    background-color: #6C8CFF;
}