 
@import url('./reset.css');




body{
    font-family: 'Montserrat', sans-serif;
}



/*-----------task1--------------------*/

/* .iziToast-close {
    color: #fff !important;
} */
 
/*-----------task1--------------------*/
.form{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.form input[name="delay"] {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 30px;
}

.form input[name="delay"]::placeholder{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
 
}

.form label{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


 
/* .form input[name="delay"] label {
    display: flex;
    flex-direction: column;
} */

.form fieldset{
width: 360px;
height: 64px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid #808080;
margin-bottom: 32px;
}

.form fieldset legend {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.form input[name="state"] {
    border-color: #757575;
    height: 32px;
    width: 32px;
}

.form button {
    cursor:pointer;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height:  1.5;
    letter-spacing: 0.04em;

}